<div *ngIf="!screenService.isLarge()" class="title-bar">
    <span class="glyphicon glyphicon-menu-hamburger">...</span>
    <div class="small-image-holder">
        <img class="small-image" src="assets/images/logo.png"  alt="Company Logo">
    </div>
    <span class="glyphicon glyphicon-option-vertical">...</span>
</div>
<div *ngIf="screenService.isLarge()" class="title-bar">
    <img src="assets/images/logo.png"  alt="Company Logo">
    <div class="menu-area">
        <fw-top-bar>
        </fw-top-bar>
        <!-- menu -->
        
    </div>
</div>